#indexlogo
{
   margin: auto;
   width: fit-content;
}
.wrapper
{
   float: left;
   width: 90%;
   padding: 5%;
   margin: auto;
   height: auto;
}
.socialmediaicon
{
   width: 2.5em;
}
.socialmediawrapper
{
   margin:auto;
   width: 100%;
   text-align: center;
}
.infopanel
{
   padding-top: 5em;
   padding-bottom: 5em;
   padding-left: 10%;
   margin-left: -10%;
   margin-right: -10%;
   width: 120%;
   background-color: rgb(31, 31, 31);
}
body
{
   background-color: rgb(31, 31, 31);
   color: black;
   background-image: url("indexbackground.jpg");
   background-size: cover;
   background-position-x: center;
   background-repeat: no-repeat;
}
h2
{
   color:white;
   font-size: 1.5em;
   text-align:center;
   font-family: Arial;
}
p
{
   text-align: center;
   font-family: Arial;
   color: white;
   margin:0.3em;
}
a
{
   text-align: center;
   margin: auto;
   width: fit-content;
   color: white;
   text-decoration: none;
}
div
{
   float: left;
}